### Dependencies
## Node
/node_modules/

## Composer
/vendor/

### IDE
## JetBrain
/.idea/

### Binary Artefacts
## Translation Files
*.mo

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
