#rotaract-appointments {
	--fc-button-bg-color: #e7e7e8;
	--fc-button-border-color: #e7e7e8;
	--fc-button-text-color: #333333;
	--fc-button-hover-bg-color: #c5c1bb;
	--fc-button-hover-border-color: #c5c1bb;
	--fc-button-active-bg-color: #c5c1bb;
	--fc-button-active-border-color: #c5c1bb;
	--fc-today-bg-color: #e6e5d8;
}
.fc table {
	margin-bottom: 0;
}
.fc .fc-toolbar {
	flex-wrap: wrap;
}
.fc .fc-toolbar .fc-button {
	font-size: 0.9em;
}
.event-description {
	display: none;
	overflow: hidden;
	padding: 8px 14px 22px;
	transition: height 0.5s;
}
.fc-list-event.show > .fc-list-event-title {
	display: none;
}
.fc-list-event.show > .event-description {
	display: table-cell;
}
.fc-list-event.show:hover > .event-description {
	background-color: var(--fc-list-event-hover-bg-color, #f5f5f5);
	border: none;
}
.fc .fc-scroller-harness,
.fc .fc-scroller-liquid-absolute {
	overflow: visible !important;
}
.fc .fc-toolbar {
	--fc-event-bg-color: transparent;
}
#rotaract-appointments p:last-of-type {
	margin-bottom: 0.5em;
}
.fc-event {
	cursor: pointer;
}
.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
	color: #687d90;
}

/*fix fullcalendar sticky behaviour*/
.fc .fc-list-sticky .fc-list-day > * {
	z-index: 1;
}

/*Tippy*/
.tippy-box[data-theme~=rotaract] {
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,8,16,.15);
	border-radius: 6px;
	box-shadow: 0 4px 14px -2px rgba(0,8,16,.15);
	color: #333;
}
.tippy-box[data-theme~=rotaract]>.tippy-backdrop {
	background-color: #fff;
}
.tippy-box[data-theme~=rotaract]>.tippy-content {
	padding: 12px;
	border-radius: 4px;
	border-top: 2px solid var(--fc-event-bg-color, #d91b5c);
}
.tippy-box[data-theme~=rotaract]>.tippy-content .calendar-owner {
	cursor: pointer;
	margin: 0 -12px;
	padding: 6px 12px;
}
.tippy-box[data-theme~=rotaract]>.tippy-content .calendar-owner:hover {
	background-color: #eeeeee;
}
.tippy-box[data-theme~=rotaract]>.tippy-content .calendar-owner.off {
	color: #999999;
}
.tippy-box[data-theme~=rotaract]>.tippy-content .calendar-owner.off span.fc-list-event-dot {
	border-color: #999999 !important;
}
.tippy-box[data-theme~=rotaract]>.tippy-content span.fc-list-event-dot {
	margin-right: 8px;
}
.tippy-box[data-theme~=rotaract]>.tippy-arrow:after,
.tippy-box[data-theme~=rotaract]>.tippy-svg-arrow:after {
	content: "";
	position: absolute;
	z-index: -1
}
.tippy-box[data-theme~=rotaract]>.tippy-arrow:after {
	border-color: transparent;
	border-style: solid
}
.tippy-box[data-theme~=rotaract][data-placement^=top]>.tippy-arrow:before {
	border-top-color: #fff
}
.tippy-box[data-theme~=rotaract][data-placement^=top]>.tippy-arrow:after {
	border-top-color: rgba(0,8,16,.2);
	border-width: 7px 7px 0;
	top: 17px;
	left: 1px
}
.tippy-box[data-theme~=rotaract][data-placement^=top]>.tippy-svg-arrow>svg {
	top: 16px
}
.tippy-box[data-theme~=rotaract][data-placement^=top]>.tippy-svg-arrow:after {
	top: 17px
}
.tippy-box[data-theme~=rotaract][data-placement^=bottom]>.tippy-arrow:before {
	border-bottom-color: #fff;
	bottom: 16px
}
.tippy-box[data-theme~=rotaract][data-placement^=bottom]>.tippy-arrow:after {
	border-bottom-color: rgba(0,8,16,.2);
	border-width: 0 7px 7px;
	bottom: 17px;
	left: 1px
}
.tippy-box[data-theme~=rotaract][data-placement^=bottom]>.tippy-svg-arrow>svg {
	bottom: 16px
}
.tippy-box[data-theme~=rotaract][data-placement^=bottom]>.tippy-svg-arrow:after {
	bottom: 17px
}
.tippy-box[data-theme~=rotaract][data-placement^=left]>.tippy-arrow:before {
	border-left-color: #fff
}
.tippy-box[data-theme~=rotaract][data-placement^=left]>.tippy-arrow:after {
	border-left-color: rgba(0,8,16,.2);
	border-width: 7px 0 7px 7px;
	left: 17px;
	top: 1px
}
.tippy-box[data-theme~=rotaract][data-placement^=left]>.tippy-svg-arrow>svg {
	left: 11px
}
.tippy-box[data-theme~=rotaract][data-placement^=left]>.tippy-svg-arrow:after {
	left: 12px
}
.tippy-box[data-theme~=rotaract][data-placement^=right]>.tippy-arrow:before {
	border-right-color: #fff;
	right: 16px
}
.tippy-box[data-theme~=rotaract][data-placement^=right]>.tippy-arrow:after {
	border-width: 7px 7px 7px 0;
	right: 17px;
	top: 1px;
	border-right-color: rgba(0,8,16,.2)
}
.tippy-box[data-theme~=rotaract][data-placement^=right]>.tippy-svg-arrow>svg {
	right: 11px
}
.tippy-box[data-theme~=rotaract][data-placement^=right]>.tippy-svg-arrow:after {
	right: 12px
}
.tippy-box[data-theme~=rotaract]>.tippy-svg-arrow {
	fill: #fff
}
.tippy-box[data-theme~=rotaract]>.tippy-svg-arrow:after {
	background-image: url(data: image/svg+xml;
	base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA2czEuNzk2LS4wMTMgNC42Ny0zLjYxNUM1Ljg1MS45IDYuOTMuMDA2IDggMGMxLjA3LS4wMDYgMi4xNDguODg3IDMuMzQzIDIuMzg1QzE0LjIzMyA2LjAwNSAxNiA2IDE2IDZIMHoiIGZpbGw9InJnYmEoMCwgOCwgMTYsIDAuMikiLz48L3N2Zz4=);
	background-size: 16px 6px;
	width: 16px;
	height: 6px
}
