.prototype {
	display: none !important;
}

.button .dashicons {
	line-height: 1.5em;
}

.appointment-line {
	align-items: center;
	background-color: #ddd;
	border-color: #bbb;
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 0 0 0 0.75rem;
	display: flex;
	flex-wrap: wrap;
	margin: 0.5rem 0;
	padding: 0.5rem 1rem;
	width: fit-content;
}

.appointment-line > :not(:last-child) {
	margin-right: 1rem;
}

.appointment-line button.delete-line {
	background: none;
	border: none;
	color: #f00;
	cursor: pointer;
	padding: 0;
	text-decoration: none;
}

.owner-add, .ics-add {
	padding: 1rem;
}

.modal-bg {
	display: none;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 4rem 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	overflow: scroll;
}
.modal-bg.show {
	display: block;
}

.modal-bg .modal {
	background-color: #ffffff;
	border-radius: 0.5rem;
	margin: 0 auto;
	max-width: 480px;
	padding: 1rem;
}

#searchbox > .button {
	margin-left: 1rem;
}
#searchbox, .ais-SearchBox-form {
	display: flex;
    align-items: stretch;
}
.ais-SearchBox, .ais-SearchBox-form .ais-SearchBox-input {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	flex-grow: 1;
	margin: 0;
}
.ais-SearchBox-form .button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.button-primary .ais-SearchBox-submitIcon {
	fill: #ffffff;
}

#hits .ais-Hits-list {
	margin: 1rem 0;
}
#hits .ais-Hits-item {
	border-top: solid 1px #cccccc;
	list-style-type: none;
	margin: 0;
}
#hits .ais-Hits-item .button.list-btn {
	display: inline-block;
	background: none;
	border: none;
	border-radius: 0;
	padding: 0.25rem 1rem;
	width: 100%;
    text-align: start;
}
